

.card {
    width: 100%;
    height: 100%;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.selected .card-inner {
    transform: rotateY(180deg);
}

.pointer {
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: rgba(70, 170, 236, 0.507);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
}

.card-back {
    transform: rotateY(180deg);
    display: flex;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media only screen and (max-width: 992px) {
    .card-front {
        font-size: 4rem;
    }
}
